@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #1e1e1e;
  --secondary: #2e2e2e;
  --accent: #e7d7d7;
  --text-primary: #ffffff;
  --text-secondary: #cccccc;
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

nav:fullscreen {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}

a {
  color: var(--accent);
}

button {
  background-color: var(--primary);
  color: var(--text-primary);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary);
}

.loader {
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-left-color: #ffffff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}