.carouselContainer {
    display: flex;
    object-fit: contain;
}

.image {
    object-fit: contain;
    pointer-events: auto !important;
}

@media (orientation: landscape) {
    .carouselContainer {
        height: 100vh; /* Ensure the container takes the full height */
        width: 100vw; /* Ensure the container takes the full width */
    }

    .imageContainer {
        width: 100vw;
        height: 100vh;
    }

    .image {
        width: 100vw !important;
        height: 100vh !important;
    }
}

@media (orientation: portrait) and (max-width: 768px) {
    .carouselContainer {
        transform: rotate(90deg);
        height: 100vw; /* Ensure the container takes the full height */
        width: 100vh; /* Ensure the container takes the full width */
    }

    .imageContainer {
        width: 100vh;
        height: 100vw;
    }

    .image {
        width: 100vh !important;
        height: 100vw !important;
    }
}